
.file-shadow {
    box-shadow: 2px 2px 19px 0px rgba(0,0,0,1);
  }
  
  .file-container {
    position: relative;
    width: 100%;
  }
  
  .file-container input[type=file] {
    width: 100%;
    height: 2.5rem;
    opacity: 0;
  }
  
  .file-container:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: 'Click here to select \\o/';
    display: block;
    width: 100%; 
    pointer-events: none;
    padding: 6px 10px;
    border: 2px solid;
    border-right: 0;
    background-color: rgba(255,255,255,.1);
    font-size: .9rem;
    line-height: 2;
  }
  
  .file-container:has(input[type=file]:valid):before {
    content: "Nice, you've selected some files :D";
    font-size: .8rem;
    color: var(--action-color);
  }
  
  .file-button { 
    padding: 10px;
    color: rgb(var(--foreground-rgb));
    background: var(--primary-color);
    pointer-events: none;
  }
  
  .file-container:has(input[type=file]:valid) ~ .file-button {
    background-color: var(--action-color);
    color: black;
    pointer-events: initial;
  }
  