
.file-shadow {
    box-shadow: 2px 2px 19px 0px rgba(0,0,0,1);
  }
  
  .file-container {
    position: relative;
    width: 100%;
  }
  
  .file-container input[type=file] {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .file-container:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: 'Click here to select \\o/';
    display: flex;
    align-items: center;
    width: 100%; 
    pointer-events: none;
    padding: 6px 10px;
    border: 2px solid;
    border-right: 0;
    background-color: rgba(255,255,255,.1);
    font-size: .9rem;
    line-height: 1.2;
    z-index: -1;
  }
  
  .file-container:has(input[type=file]:valid):before {
    content: "Nice, you've selected some files :D";
    font-size: .8rem;
    color: var(--action-color);
  }
  
  .file-button { 
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: 10px;
    border: 2px solid;
    color: rgb(var(--foreground-rgb));
    background: var(--primary-color);
    
    white-space: nowrap;
  }

  
  .file-container:has(input[type=file]:valid) ~ .file-button {
    background-color: var(--action-color);
    color: black;
    border-color: var(--action-color);
    pointer-events: initial;
  }
  
#uploadForm .img-actions {
    line-height: 1;
    margin-bottom: .3rem;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--delete-color);
    color: white;
    display: flex;
    padding: .3rem .1rem;
}