body {
    padding-bottom: 5rem;
}

#navbar {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: var(--dark-color);
}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: .5rem 1rem;
}

#navbar ul li { 
    position: relative;
}

#navbar button span,
#navbar button label {
    pointer-events: none;
}

#navbar button {
    position: relative;
    top: -.01rem;
    background: var(--dark-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    align-items: center;
    cursor: pointer;
    font-size: .9rem;
    transition: .3s;
    width: 3.5rem;
    height: 3.5rem;
    
}

#navbar button label {
    font-size: .85rem;
}

#navbar li:nth-of-type(2) button {
    font-family: var(--bolder-font);
    background: #fff;
    color: var(--dark-color);
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -60%);
    width: 4.5rem;
    height: 4.5rem;
    font-size: 1rem;
}

#navbar button:hover,
#navbar button:active {
    background: var(--primary-color);
}
