@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Brother-1816";
  src: url("../../public/fonts/Brother-1816-Regular.woff");
}

@font-face {
  font-family: "Brother-1816-Bolder";
  src: url("../../public/fonts/Brother-1816-ExtraBold.woff");
}


:root {
  --regular-font: "Brother-1816", sans-serif;
  --bolder-font: "Brother-1816-Bolder", sans-serif;
  --foreground-rgb: 255, 255, 255;
  --primary-color: #fa9e00;
  --action-color: #00fa4d;
  --dark-color: #121212;
  --delete-color: #c76565;
}

  /* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--primary-color) var(--dark-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--dark-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 0px;
  border: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url('https://warpath.lilith.com/static/media/community_bkg.ce6fd9d6.jpg');
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
  background-color: var(--dark-color);
  padding-bottom: 1rem;
}


.table-user {
  min-width: 80svw;
  margin: 10px auto;
  border: 2px solid var(--dark-color);
}

.table-user td {
  padding: 5px;
}

.table-user tr {
  background: rgba(0, 0, 0, 0.3);
}

.table-user tr:nth-child(even) {
  background: rgba(0,0,0, .7)
}

.table-user tr.table-header {
  background: var(--dark-color);
  font-size: 1rem;
  font-family: var(--bolder-font);
  color: rgb(var(--foreground-rgb));
}

.table-user tr.table-header td {
  padding: 10px 5px;
}

.table-user tr {
  position: relative;
}

.table-user tr img {
  max-width: 250px;
  height: auto !important;
  display: inline-block;
  margin: 5px auto;

}

.table-user tr.tr-images td {
  text-align: center;
  vertical-align: top;
}


/******************/ 
.page-title {
  font-size: 2.3rem;
  font-weight: bold;
  display: inline-block;
}

.page-title::first-letter {
  color: var(--primary-color);
  font-family: var(--bolder-font);
  font-size: 3rem;
}

.page-title code {
  font-size: 1.8rem;
}

.click-here {
  display: inline-flex;
  align-items: center;
  color: var(--action-color);
  gap: .4rem;
}

.click-here.primary {
  color: var(--primary-color);
}

.container-scroll {
  max-width: 100%;
  max-height: 100svh;
  overflow: auto;
}

.container-scroll-x {
  max-width: 100%;
  overflow-x: auto;
}

.container-scroll-y {
  max-height: 100svh;
  overflow-y: auto;
}