@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Brother-1816";
  src: url("../../public/fonts/Brother-1816-Regular.woff");
}

@font-face {
  font-family: "Brother-1816-Bolder";
  src: url("../../public/fonts/Brother-1816-ExtraBold.woff");
}


:root {
  --regular-font: "Brother-1816", sans-serif;
  --bolder-font: "Brother-1816-Bolder", sans-serif;
  --foreground-rgb: 255, 255, 255;
  --primary-color: #fa9e00;
  --action-color: #00fa4d;
  --dark-color: #121212;
  --delete-color: #c76565;
}

  /* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--primary-color) var(--dark-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--dark-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 0px;
  border: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url('https://warpath.lilith.com/static/media/community_bkg.ce6fd9d6.jpg');
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
  background-color: var(--dark-color);
}


.table-user {
  width: 80svw;
  margin: 10px auto;
  border: 1px solid;
}

table td {
  padding: 3px 5px;
}

.table-user tr {
  background: rgba(255,255,255, .3)
}

.table-user tr:nth-child(even) {
  background: rgba(0,0,0, .3)
}

.table-user tr.table-header {
  background: rgb(100 100 100);
  font-size: 1.05rem;
  font-weight: bold;
  color: white;
}

.table-user tr {
  position: relative;
}

.table-user tr img {
  max-width: 250px;
  height: auto !important;
  display: inline-block;
  margin: 5px auto;

}

.table-user tr.tr-images td {
  text-align: center;
  vertical-align: top;
}


/******************/ 
.page-title {
  font-size: 2.3rem;
  font-weight: bold;
}

.page-title::first-letter {
  color: var(--primary-color);
  font-family: var(--bolder-font);
  font-size: 3rem;
}
